{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="form-control mx-auto w-auto">
    <table class="center">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Company</th>
                <th>Price</th>
                <th>Number of Shares</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
                <tr>
                    <td>{{ history.type }}</td>
                    <td>{{ history.company }}</td>
                    <td>{{ history.price | usd }}</td>
                    <td>{{ history.shares }}</td>
                    <td>{{ history.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
